mixin pagination(page, pages, count)
  .pagination
    .pagination__prev
      if page > 1
        a(href=`/mazes/page/${page - 1}`) Prev
    .pagination__text
      p Page #{page} of #{pages} — #{count} total results
    .pagination__next
      if page < pages
        a(href=`/mazes/page/${parseFloat(page) + 1}`) Next
